{{ form_start(form) }}
<td>
    <div>{{ form_row(form.nom) }}</div>
</td>
<td>
    <div>{{ form_row(form.rue) }}</div>
</td>
<td>
    <div>{{ form_row(form.ville) }}</div>
</td>
<td>
    <div>{{ form_row(form.latitude) }}</div>
</td>
<td>
    <div>{{ form_row(form.longitude) }}</div>
</td>

<td class="align-items-center">
    <button type="submit" class="btn btn-primary float">{{ button_label|default('Ajouter') }}</button>
    {% block buttons %}
    {% endblock buttons %}
</td>
{{ form_end(form) }}
