{% extends 'layout.html.twig' %}

{% block title %}Gérer les participants{% endblock %}

{% block main %}

    <div class="container-fluid w-75 mt-4">

        <h3 class="text-center mb-5">Gérer les participants</h3>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <div>
            <h4>Filtrer les participants</h4>
            <div class="rechercher">
                <div>
                    {{ form_start(formFilter) }}
                    {{ form_label(formFilter.nom) }}
                </div>
                <div>
                    {{ form_widget(formFilter.nom) }}
                </div>
                <button class="btn btn-primary float" type="submit">Rechercher</button>
                {{ form_end(formFilter) }}
            </div>
        </div>

    </div>
    <div class="container-fluid">
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped m-0 p-0 table-scroll   ">
                <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Nom</th>
                    <th>Prenom</th>
                    <th>Telephone</th>
                    <th>Admin</th>
                    <th>Actif</th>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.pseudo }}</td>
                        <td>{{ participant.nom }}</td>
                        <td>{{ participant.prenom }}</td>
                        <td>{{ participant.telephone }}</td>

                        <td>
                            {% if 'ROLE_ADMIN' in participant.roles %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            {% if participant.actif == 1 %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>{{ participant.campus.nom }}</td>
                        <td class="row ml-0 mr-0">
                            <a href="{{ path('participant_edit', {'id': participant.id}) }}"
                               class="btn btn-primary float mr-4 mb-2">Modifier</a>
                            {% if participant.id != app.user.id %}
                                <a href="{{ path('participant_role', {'id': participant.id}) }}"
                                   class="btn btn-primary float mr-4 mb-2">Rendre Administrateur</a>
                                <a href="{{ path('participant_desactiver', {'id': participant.id}) }}"
                                   class="btn btn-primary float mr-4 mb-2">Activer - Désactiver</a>
                                {{ include('participant/_delete_form.html.twig') }}
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <a href="{{ path('participant_new') }}" class="btn btn-primary float">Ajouter un participant</a>
    </div>
{% endblock %}