{% extends 'layout.html.twig' %}

{% block title %}Gérer les campus{% endblock %}

{% block main %}

    <div class="container mt-4">

        <h3 class="text-center mb-5">Gérer les campus</h3>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <div>
            <h4>Filtrer les campus</h4>
            <div class="rechercher">
                <div>
                    {{ form_start(formFilter) }}
                    {{ form_label(formFilter.nom) }}
                </div>
                <div>
                    {{ form_widget(formFilter.nom) }}
                </div>
                <button class="btn btn-primary float" type="submit">Rechercher</button>
                {{ form_end(formFilter) }}
            </div>

        </div>
        <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-bordered table-striped mb-0 table-scroll">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campu in campuses %}
                    <tr>
                        <td>{{ campu.nom }}</td>
                        <td class="row ml-0 mr-0">
                            <a href="{{ path('campus_edit', {'id': campu.id}) }}"
                               class="btn btn-primary float">Modifier</a>
                            {{ include('campus/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <table class="table table-bordered table-striped mb-0">
            {{ include('campus/_form.html.twig') }}
        </table>
    </div>
{% endblock %}