{% extends 'layout.html.twig' %}

{% block title %}Gérer les campus{% endblock %}

{% block main %}

    <div class="container mt-4">

        <h3 class="text-center">Gérer les campus</h3>

        {% for message in app.flashes('success') %}

            <div class="alert alert-success">
                {{ message }}
            </div>

        {% endfor %}

        <div>
            <h4>Filtrer les sites</h4>
            <div class="row">
                <div class="m-4">Le nom contient:</div>
                <form>
                    <div>
                        <span class="glyphicon glyphicon-search"></span>
                        <input type="search" id="maRecherche" class="mt-4">
                        <button id="btn-maRecherche" class="btn btn-primary float">Rechercher</button>
                    </div>
                </form>

            </div>

        </div>
{#        <div class="table-wrapper-scroll-y my-custom-scrollbar">#}
            <table class="table table-bordered table-striped mb-0">
                <thead>
                <tr>
                    <th>Campus</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for campu in campuses %}
                    <tr>
                        <td>{{ campu.nom }}</td>
                        <td class="row ml-0 mr-0">
                            <a href="{{ path('campus_edit', {'id': campu.id}) }}" class="btn btn-primary float">Modifier</a>
                            {{ include('campus/_delete_form.html.twig') }}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="2">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
{#                        <div id="form-campus" class="row align-items-center">#}
                 {{ include('campus/_form.html.twig') }}
{#                        </div>#}
                    </tr>
                </tfoot>
            </table>
        </div>
{#    </div>#}
{% endblock %}