<!-- Afficher ou Modifier -->
{% if app.user.id == sortie.organisateur.id
    and sortie.etat.libelle == 'En création' %}
        <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
    -
        <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
{% else %}
        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
{% endif %}

<!-- Se désister -->
{% if app.user in sortie.participants
    and app.user.id != sortie.organisateur.id %}
    - <a href="{{ path('sortie_desister', {'id': sortie.id}) }}">Se désister</a>
{% endif %}

<!-- S'inscrire -->
{% if app.user not in sortie.participants
    and sortie.participants|length < sortie.nbInscriptionsMax
    and sortie.dateCloture > "now" %}
        - <a href="{{ path('sortie_inscrire', {'id': sortie.id}) }}">S'inscrire</a>
{% endif %}

<!-- Annuler -->
{% if app.user.id == sortie.organisateur.id
    and sortie.etat.libelle == 'Ouvert' %}
        -  <a href="{{ path('sortie_delete', {'id': sortie.id}) }}">Annuler</a>
{% endif %}