{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col">
        {{ form_row(form.nom) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateCloture) }}
        {{ form_row(form.nbInscriptionsMax) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.descriptionInfos) }}
        </div>
    <div class="row">
        <div class="col">
        {{ form_row(form.campus) }}
        {{ form_row(form.lieu) }}
        </div>
    </div>
</div>
    <button class="btn">{{ button_label|default('Enregistrer') }}</button>
    <button class="btn">{{ button_label|default('Publier la Sortie') }}</button>
{{ form_end(form) }}