{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-lg-7">
        {{ form_row(form.nom) }}
        {{ form_row(form.dateDebut) }}
        {{ form_row(form.dateCloture) }}
        {{ form_row(form.nbInscriptionsMax) }}
        {{ form_row(form.duree) }}
        {{ form_row(form.descriptionInfos) }}
        </div>
        <div class="col-lg-5">
        {{ form_row(form.campus) }}
        {{ form_row(form.lieu) }}
        </div>
    </div>

    <div class="row justify-content-around">
        <button class="btn btn-primary btn-lg float">{{ button_label|default('Enregistrer') }}</button>
        <button class="btn btn-primary btn-lg float">{{ button_label|default('Publier la Sortie') }}</button>
    </div>
</div>
{{ form_end(form) }}