{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            {{ form_row(form.nom) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateCloture) }}
            {{ form_row(form.nbInscriptionsMax) }}
            {{ form_row(form.descriptionInfos) }}
        </div>
        <div class="col-lg-6">
            {{ form_row(form.campus) }}
            {{ form_row(form.ville) }}
            {{ form_row(form.lieu) }}
            {{ form_row(form.newVille, { 'attr':{'disabled':'disabled'}, 'attr':{'hidden':'true'} }) }}
            {{ form_row(form.newLieu, { 'attr':{'disabled':'disabled'}, 'attr':{'hidden':'true'} }) }}
            {{ form_row(form.duree) }}
        </div>
    </div>

    <div class="row justify-content-center">


        {% if sortie.etat %}
            {% if sortie.etat.libelle == 'Ouverte' %}
                <button class="btn btn-primary float m-4" name ="button" value="annuler">{{ button_label|default('Annuler') }}</button>
            {% else %}
                <button class="btn btn-primary float m-4" name ="button" value="enregistrer">{{ button_label|default('Enregistrer') }}</button>
                <button class="btn btn-primary float m-4" name ="button" value="publier">{{ button_label|default('Publier') }}</button>
            {% endif %}
        {% else %}
            <button class="btn btn-primary float m-4" name ="button" value="publier">{{ button_label|default('Publier la Sortie') }}</button>
        {% endif %}

        {{ form_end(form) }}
        {{ include('sortie/_delete_form.html.twig') }}
        {% block buttons %}
        {% endblock buttons %}
        <a class="btn btn-primary float m-4" href="{{ path('sortie_index') }}">Retour</a>
    </div>
</div>

