{{ form_start(form) }}
<div class="container">
    <div class="row">
        <div class="col">
            {{ form_row(form.nom) }}
            {{ form_row(form.dateDebut) }}
            {{ form_row(form.dateCloture) }}
            {{ form_row(form.nbInscriptionsMax) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.descriptionInfos) }}
        </div>
        <div class="col-lg-5">
            {{ form_rest(form) }}
            {#            <a id="rue">Rue : </a></br>
                        <a>Code postal : </a><a id="codePostal"></a></br>
                        <a id="latitude">Latitiude : </a></br>
                        <a id="longitude">Longitude : </a></br>#}
        </div>
    </div>

    <div class="row justify-content-around">
        <button class="btn btn-primary btn-lg float" name ="button" type="submit" value="enregistrer">{{ button_label|default('Enregistrer') }}</button>
        {% if sortie.etat %}
           {# {% if sortie.etat.libelle == 'Ouverte' %}
                <button class="btn btn-primary btn-lg float" name ="button" type="submit" value="annuler">{{ button_label|default('Annuler Sortie') }}</button>
            {% else %}
                <button class="btn btn-primary btn-lg float" name ="button" type="submit" value="publier">{{ button_label|default('Publier la Sortie') }}</button>
            {% endif %}#}
{#
        {% else %}
            <button class="btn btn-primary btn-lg float" name ="button" type="submit" value="publier">{{ button_label|default('Publier la Sortie') }}</button>
        {% endif %}
#}

        {% block buttons %}
        {% endblock buttons %}
    </div>
</div>

{{ form_end(form) }}
