{% extends 'layout.html.twig' %}

{% block main %}
    <div class="d-none d-md-block">
        <h3 class="text-center">Annuler une sortie</h3>
        <div class="container">
            <table class="table table-bordered m-4">
                {{ form_start(form) }}
                <tr>
                    <td>Nom de la sortie:</td>
                    <td>{{ sortie.nom }}</td>
                </tr>
                <tr>
                    <td>Date de la sortie:</td>
                    <td>{{ sortie.dateDebut|date('d/m/Y') }}</td>
                </tr>
                <tr>
                    <td>Campus:</td>
                    <td>{{ sortie.campus.nom }}</td>
                </tr>
                <tr>
                    <td>Lieu:</td>
                    <td>{{ sortie.lieu.nom }}</td>
                </tr>
                <tr>
                    <td>Motif:</td>
                    <td class="p-0 m-0">
                        {{ form_errors (form.descriptionInfos) }}
                        {{ form_widget(form.descriptionInfos) }}</td>
                </tr>

                {{ form_end (form) }}

            </table>
            <div class="text-center">
                <button class="btn btn-primary float" type="submit">Enregistrer</button>
                <a class="btn btn-primary float ml-4" href="{{ path('sortie_index') }}">Annuler</a>
            </div>
        </div>
    </div>
{% endblock %}