{% extends 'layout.html.twig' %}

{% block title %}Les sorties{% endblock %}

{%  block user %}
    {{ parent() }}
    <div class="col">
        <div>Date du jour : {{ "now"|date("d/m/Y") }}</div>
        <div>Participant : {{ app.user.prenom }} {{ app.user.nom|upper|first }}.</div>
    </div>
{%  endblock %}

{% block main %}

    <div class="jumbotron">
        <h2>Filtrer les sorties</h2>
        {{ form_start(form) }}
        <div class="d-flex justify-content-around align-items-center">

                <div class="form-col inner-form-col">
                    {{ form_row(form.campus) }}
                    {{ form_row(form.name) }}
                    <div class="form-row">
                        {{ form_row(form.dateDebut) }}
                        {{ form_row(form.dateFin) }}
                    </div>
                </div>
                <div class="form-col">
                    {{ form_row(form.isOrganisateur) }}
                    {{ form_row(form.isInscrit) }}
                    {{ form_row(form.isNotInscrit) }}
                    {{ form_row(form.passee) }}
                </div>
                <button type="submit" method="get" class="btn btn-primary btn-lg float">Rechercher</button>
            {{ form_end(form) }}
        </div>
    </div>

    <table class="table table-striped table-dark">
        <thead>
        <tr>
            <th scope="col">Nom de la sortie</th>
            <th scope="col">Date de la sortie</th>
            <th scope="col">Clôture</th>
            <th scope="col">Inscrits/places</th>
            <th scope="col">Etat</th>
            <th scope="col">Inscrit</th>
            <th scope="col">Organisateur</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d/m/Y H\\Hi') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</td>
                <td>{{ sortie.participants|length }} / {{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etat.libelle }}</td>
                <td>
                    {% if app.user in sortie.participants %}
                    X
                     {% endif %}
                <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom|upper|first }}.</td>
                <td>
                    {{ include('sortie/_actions.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">Aucune sortie correspondante</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary btn-lg float" href="{{ path('sortie_new') }}">Créer une sortie</a>
{% endblock %}
