{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
{% endblock %}

{% block title %}Créer une sortie{% endblock %}

{% block main %}
    <div class="d-flex justify-content-center">
        <h1>Créer une sortie</h1>
    </div>
    {{ include('sortie/_form.html.twig') }}

    <a href="{{ path('sortie_index') }}">Annuler</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="{{ asset("JS/app.js") }}"></script>
{% endblock %}