{{ form_start(form) }}
<td>
    {{ form_row(form.nom) }}
</td>
<td>
    {{ form_row(form.codePostal) }}
</td>
<td>
    <button class="btn btn-primary float">{{ button_label|default('Ajouter') }}</button>

{% if app.session.get('user') %}

    <button class="btn btn-primary float">{{ button_label|default('Ajouter et Créer un Lieu') }}</button>
    <input type="hidden" name="creerLieu" value="creerLieu">
    {% block buttons %}
    {% endblock buttons %}
</td>
{% endif %}
{{ form_end(form) }}