{% extends 'base.html.twig' %}

{% block title %}Gérer les villes{% endblock %}

{% block main %}
    <div class="container mt-4">

        <h3 class="text-center">Gérer les villes</h3>

        <div>
            <h4>Filtrer les villes</h4>
            <div class="row">
                <div class="m-4">Le nom contient:</div>
                <form>
                    <div>
                        <input type="search" id="maRecherche" class="mt-4">
                        <button id="btn-maRecherche" class="mt-4">Rechercher</button>
                    </div>
                </form>

            </div>

        </div>

        <table id="table-ville" class="table table-striped table-bordered table-sm">
            <thead>
            <tr>
                <th class="th-sm">Ville</th>
                <th class="th-sm">Code postal</th>
                <th class="th-sm">Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ville in villes %}
                <tr>
                    <td>{{ ville.nom }}</td>
                    <td>{{ ville.codePostal }}</td>
                    <td class="row ml-0 mr-0">
                        <a href="{{ path('ville_edit', {'id': ville.id}) }}" class="btn btn-secondary">Modifier</a>
                        {{ include('ville/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            <tr id="form-line">
                <div id="ville-form-line" class="row">
                {{ include('ville/_form.html.twig') }}
                </div>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}