<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset("css/bootstrap.min.css") }}">
        <link rel="stylesheet" href="{{ asset("css/app.css") }}">
    {% endblock %}
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<header class="container">
    <div>
        <h1 class="row">Logo Sortir.com</h1>
        <nav class="text-right">
            {% block nav %}
                {{ include('nav.html.twig') }}
            {% endblock %}
        </nav>
    </div>
    <div class="row justify-content-end">
        {% block user %}{% endblock %}
    </div>
</header>
<main>
    {% block main %}
    {% endblock %}
</main>
{#
<footer class="mt-10">
    &copy;HagridIsBack {{ "now"|date("Y") }}
</footer>
#}
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="{{ asset("JS/app.js") }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>
