<div class="row justify-content-between">
    <div>
    <div style="float: left">
        <img class="d-none d-md-block" src="{{ asset('images/logo.jpg') }}" style="width: auto; height: 100px" id="logo"></a>
    </div>
    <div style="float: left">
        <img class="d-block d-md-none" src="{{ asset('images/logo.jpg') }}" style="width: auto; height: 70px" id="logo"></a>
    </div>
    </div>
    <div class="mt-3 float-right mr-3">
        <nav class="navbar navbar-expand-md navbar-light">
            <div>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse mr-2" id="navbarSupportedContent">
                    <ul class="navbar-nav" id="navbar">
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('ville_index') }}">Villes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('campus_index') }}">Campus</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('sortie_index') }}">Accueil</a>
                        </li>
                       {# <li class="nav-item">
                            <a class="nav-link" href="{{ path('participant_edit', {'id': app.user.id}) }}">Mon
                                Profil</a>
                        </li>#}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>